<section class="league-table-page">
  <h1>League Table</h1>

  @if (leagueTable$ | async; as teams) {
    <table>
      <thead>
        <tr>
          <th>Pos</th>
          <th>Team</th>
          <th>Pl</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th>GD</th>
          <th>Pts</th>
        </tr>
      </thead>

      <tbody>
        @for (team of teams; track team.teamId) {
          <tr [class.man-united]="team.tla === 'MUN'">
            <td class="position">
              {{ team.position }}
            </td>

            <td class="team-cell">
              <img
                class="team-crest"
                [src]="team.crest"
                [alt]="team.teamName + ' crest'"
              />

              <span>{{ team.teamName }}</span>
            </td>

            <td>{{ team.playedGames }}</td>
            <td>{{ team.won }}</td>
            <td>{{ team.draw }}</td>
            <td>{{ team.lost }}</td>

            <td class="goal-difference">
              {{ team.goalDifference }}
            </td>

            <td class="points">
              {{ team.points }}
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</section>
